# OSX
#
client/.DS_Store

# Xcode
#
client/build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
client/build/
.idea
.gradle
local.properties
*.iml

# node.js
#
client/node_modules/
client/npm-debug.log
client/yarn-error.log

# BUCK
client/buck-out/
client\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifacts
*.jsbundle

# CocoaPods
client/ios/Pods/

# Expo
client/.expo/*
client/web-build/

#amplify
client/amplify/\#current-cloud-backend
client/amplify/.config/local-*
client/amplify/mock-data
client/amplify/backend/amplify-meta.json
client/amplify/backend/awscloudformation
client/build/
client/dist/
client/node_modules/
client/aws-exports.js
client/awsconfiguration.json
client/amplifyconfiguration.json
client/amplify-build-config.json
client/amplify-gradle-config.json
client/amplifytools.xcconfig

.env